@import "tailwindcss";

@layer components {
  .card {
    @apply border rounded p-2 cursor-pointer hover:bg-gray-100;
  }
  .btn {
    @apply border rounded p-2 px-4 cursor-pointer hover:bg-gray-100;
  }
  .btn-primary {
    @apply w-full px-4 py-2 text-sm font-medium text-white bg-gray-800 border border-black rounded-md hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black;
  }
  .form-input {
    @apply block w-full px-3 py-2 placeholder-gray-400 bg-white border border-black rounded-md appearance-none focus:outline-none focus:ring-black focus:border-black sm:text-sm;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f1e8;
    --foreground: #111;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
